// Import page-specific CSS files here.
@import "home";

.form-quantity {
  width: 100px;
}

.form-name {
  width: 300px;
}

.item-marked {
  text-decoration: line-through;
}

.shopping-navbar {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.shopping-navbar-item-items {
  background-color: crimson;
  width: 50vw;
  text-align: center;
}

.shopping-navbar-item-recipes {
  background-color: pink;
  width: 50vw;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

li.list-group-item {
  width: 80%;
}
