<div class="shopping-navbar">
  <%= link_to items_path do %>
    <div class="shopping-navbar-item-items"><h3>Shopping</h3></div>
  <% end %>
  <%= link_to recipes_path do %>
    <div class="shopping-navbar-item-recipes"><h3>Recipes</h3></div>
  <% end %>
</div>
